body {font-family: "Roboto", "Times New Roman";}

h1 {font-family: "Times New Roman";}
h2 {font-family: "Times New Roman";}
h3 {font-family: "Times New Roman";}
h4 {font-family: "Times New Roman";}
h5 {font-family: "Times New Roman";}
h6 {font-family: "Times New Roman";}

code {font-family: "Fira Mono";}

h1 {font-size:60px;}
h2 {font-size:40px;}
p {font-size:14px;}